*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    background:url("../imgs/cenario.webp");
    background-size:cover;
    background-position:center;
    overflow:hidden;
    font-family:'Press Start 2P', cursive;
    position:relative;
}

.icon{
    position:absolute;
    top:20px;
    right:20px;
    width:50px;
}

.personagem{
    position:absolute;
    left:150px;
    bottom:310px;
    width:250px;
}

.fala{
    position:absolute;
    top:230px;
    left:340px;
    width:380px;
    z-index: 10;
}
.fala img{
    width:100%;
}
.fala p{
    position:absolute;
    top:25px;
    left:60px;
    width:240px;
    font-size:15px;
    line-height:1.5;
    text-align:center;
}

.painel{
    position:absolute;
    top:250px;
    left:50%;
    transform:translateX(-50%);
    width:600px;
     z-index: 1;
}

.card-painel{
    width:100%;
    display:block;
}

.continue{
    position:absolute;
    top:620px;
    left:50%;
    transform:translateX(-50%);
    width:300px;
    text-decoration:none;
    animation:pular 1.2s infinite;
}

.continue img{
    width:100%;
}
.continue span{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#6b2100;
    font-size:20px;
}


@keyframes pular{
    50%{
        transform:translateX(-50%) translateY(-10px);
    }
}