* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url('../imgs/cenario.webp');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  position: relative;
}

.menu {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Ícone*/
.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
}

.personagem {
  position: absolute;
  left: 150px;
  bottom: 310px;
  width: 250px;
}

.fala {
  position: absolute;
  top: 150px;
  left: 320px;
  width: 380px;
}
.fala img {
  width: 100%;
}
.fala p {
  position: absolute;
  top: 25px;
  left: 60px;
  width: 240px;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

.painel {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
}

.card-painel {
  width: 100%;
  display: block;
}

.continue {
  position: absolute;
  top: 620px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  text-decoration: none;
  animation: pular 1.2s infinite;
}

.continue img {
  width: 100%;
}
.continue span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6b2100;
  font-size: 20px;
}

@keyframes pular {
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);

  justify-content: center;
  align-items: center;
}

.popup-conteudo {
  background: #f5d7a1;
  border: 6px solid #8b5a2b;
  padding: 30px;
  width: 500px;
  text-align: center;
  color: #4e2400;
}

.popup-conteudo h2 {
  margin-bottom: 20px;
}

.popup-conteudo p {
  margin: 15px 0;
  font-size: 12px;
  line-height: 1.8;
}

.popup-conteudo button {
  margin-top: 20px;
  padding: 10px 20px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
}

.menos,
.mais {
  position: absolute;
  top: 120px;
  width: 70px;
  height: 70px;
  border: none;
  background: #8a3417;
  color: white;
  font-size: 40px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.menos {
  left: 80px;
}

.mais {
  right: 80px;
}

.quantidade {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: #6b2100;
}
